<EditForm Model="@Booking" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="row d-flex justify-content-start w-75">

        <div class="col-5">
            <div class="d-flex align-items-center justify-content-start m-1">
                <img src="/images/room18.png" class="opacity_06 p-2" />
                <div class="input-group was-validated ">
                    <select class="custom-select w-100" id="inputGroupSelectRoom" @bind="@Booking.RoomId" required>
                        <ValidationMessage For="@(() => Booking.RoomId)" />
                        <option selected></option>
                        @if (rooms != null)
                        {
                            @foreach (var room in rooms)
                            {
                                <option value=@room.Id>@room.Name (places: @room.Places, projector: @(room.IsProjector ? "yes":"no"))</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-start m-1 mt-sm-2">
                <span class="oi oi-person font-size-1_1 text-black-50 p-2"></span>
                <div class="input-group was-validated ">
                    <select class="custom-select w-100" id="inputGroupSelectUser" @bind="@Booking.UserId" required>
                        <ValidationMessage For="@(() => Booking.UserId)" />
                        <option selected></option>
                        @if (users != null)
                        {
                            @foreach (var user in users)
                            {
                                <option value=@user.Id>@user.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-4 form-group input-group mb-3 was-validated ">
            <div class="d-flex align-items-center justify-content-start m-1">
                <img src="/images/rocket.png" class="opacity_05 p-2" />
                <input type="datetime-local" class="form-control" value="@Booking.Start.ToString("yyyy-MM-ddTHH:mm")" @onchange="@((ChangeEventArgs e) => Booking.Start = DateTime.Parse(e.Value.ToString()))" required>
                <ValidationMessage For="@(() => Booking.Start)" />
            </div>

            <div class="d-flex align-items-center justify-content-start m-1">
                <img src="/images/finish.png" class="opacity_05 p-2" />
                <input type="datetime-local" class="form-control" value="@Booking.End.ToString("yyyy-MM-ddTHH:mm")" @onchange="@((ChangeEventArgs e) => Booking.End = DateTime.Parse(e.Value.ToString()))" required>
                <ValidationMessage For="@(() => Booking.End)" />
            </div>
        </div>
    </div>

    <div class="text-danger m-left-3">
        <small>@ErrorMessage</small>
    </div>

    <div class="modal-footer w-50">
        <button type="button" class="btn btn-secondary" @onclick="@Cancel">Close</button>
        <button type="submit" class="btn btn-success btn-sm" @onclick="@Ok">
            @ButtonText
        </button>
    </div>
</EditForm>

<style>
    .font-segoeUI {
        font-family: Segoe UI;
    }

    .font-size-0_75 {
        font-size: 0.75rem;
    }

    .font-size-1 {
        font-size: 1rem;
    }

    .font-size-1_05 {
        font-size: 1.05rem;
    }

    .font-size-1_1 {
        font-size: 1.1rem;
    }

    .font-size-1_15 {
        font-size: 1.15rem;
    }

    .font-size-1_2 {
        font-size: 1.2rem;
    }

    .font-size-1_25 {
        font-size: 1.25rem;
    }

    .font-size-1_5 {
        font-size: 1.5rem;
    }

    .font-size-1_75 {
        font-size: 1.75rem;
    }

    .font-size-2 {
        font-size: 2rem;
    }

    .font-size-2_25 {
        font-size: 2.25rem;
    }

    .font-size-2_5 {
        font-size: 2.5rem;
    }

    .font-size-2_75 {
        font-size: 2.75rem;
    }

    .font-size-3 {
        font-size: 3rem;
    }

    .font-size-4 {
        font-size: 4rem;
    }

    .opacity_05 {
        opacity: 0.5;
    }

    .opacity_06 {
        opacity: 0.6;
    }

    .m-left-3 {
        margin-left: 3rem;
    }
</style>