@page "/bookings"

<h3>Bookings</h3>

@if (bookings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-center align-items-start text-center text-black-50" style="background-color: rgba(10,10,10,0.1);">
            <div class="col-2"><span class="oi oi-home"></span></div>
            <div class="col-2"><span class="oi oi-calendar"></span></div>
            <div class="col-2"><span class="oi oi-person"></span></div>
            <div class="col-4"><span class="oi oi-pencil"></span></div>
            <div class="col-2"><span class="oi oi-trash"></span></div>
        </li>

        @foreach (var booking in bookings)
        {
            <li class="list-group-item d-flex justify-content-center align-items-start bg-light text-center">
                <div class="col-2">@booking.RoomName</div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <span class="badge bg-primary text-light">@booking.Start.ToShortTimeString() - @booking.End.ToShortTimeString()</span>
                    </div>
                    <div class="row justify-content-center">@booking.Start.ToString("d MMMM", CultureInfo_EN)</div>
                </div>

                <div class="col-2">@booking.UserName</div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-sm" @onclick="() => OpenChangeRoomDialog(booking)">Change room</button>
                    <button type="button" class="btn btn-primary btn-sm">Change period</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-danger btn-sm" @onclick="() => OpenDeleteDialog(booking)">Delete</button>
                </div>
            </li>
        }
    </ol>

    @if (DeleteDialogOpen)
    {
        <ModalDialogDelete Title="Are you sure?" Text="Do you want to delete this entry?" OnClose="@OnDeleteDialogClose"></ModalDialogDelete>
    }

    @if (ChangeRoomDialogOpen)
    {
        <ModalDialogChangeRoom Title="Select new room" 
                               ErrorMessage=@_errorMessage 
                               Booking=_bookingToChangeRoom 
                               OnClose="@OnChangeRoomDialogClose"></ModalDialogChangeRoom>
    }

}
